* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header{
  background-color:#FF8C00;
  width:100%;
}

.header-content{
  margin:0 auto;
  text-align:center;
}

.header-content h1{
  color:white;
  font-weight:normal;
}

.top-content{
  width:100%;
  margin:0 auto;
}

.top-columns ul{
  display:flex;
}
@media all and (max-width: 1000px) {


@media all and (max-width: 750px) {


@media all and (max-width: 670px) {

