* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header{
  background-color:#E9FFA5;
  width:100%;
  height:60px;
}

.header-content{
  margin:0 auto;
  text-align:center;
}

@media all and (max-width: 1000px) {


@media all and (max-width: 750px) {


@media all and (max-width: 670px) {

